.light {
	--background: #f0f0f0;

	--nav: #ADD8E6;
	--nav-emphasized: #8ac7db;
}

.dark {
	--background: #18404e;

	--nav: #ADD8E6;
	--nav-emphasized: #8ac7db;

	color: white;
}

.dark a {
	color: white;
}

html.dark button svg#moon{
	display: none;
}

html.light button svg#sun{
	display:none;
}

body {
	margin: auto;
	padding: 1em;
	max-width: 40%;
	font-family: monospace;
	font-size: 1.3em;
	word-wrap: break-word;
	background: var(--background);
	transition: 0.2s ease;
}

a {}

a:hover {}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: var(--nav);
	border-radius: 0.9em;
	overflow-x: scroll;
	margin-bottom: 30px;
}

#navbar a {
	color: black;
	text-decoration: none;
	font-weight: 600;
	padding: 14px;
	border-radius: 0.9em;
	white-space: nowrap;
}

#navbar a:hover {
	background-color: var(--nav-emphasized);
}

#navbar-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction row;
}

.theme-toggler {
	width: 20px;
	height: 20px;
}

#toggler-button {
	background-color: var(--nav);
	appearance: none;
	box-shadow: none;
	border: none;
}

#toggler-button:hover{
	color: white;
}

ul {
	overflow: visible;
}

li {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	margin-bottom: 18px;
}

li::before {
	content: "•";
	position: absolute;
	left: -15px;
}

li > p {
    margin-top: 0;
}

@media only screen and (max-width: 1080px) {
	body {
		max-width: 100%;
	}

	li {
		margin-bottom: 30px;
	}
}

table, th, td {
  border: 1px solid;
}
