<!DOCTYPE html>
<html class="light">
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> citrus9904 </title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <nav id="navbar">
      <div id="navbar-div">
        <a href="../index.html">Home</a>
        <a href="../writings.html">Writings</a>
        <a href="../meditative_practice.html">Meditative Practice</a>
        <a href="../interesting_reads.html">Interesting Reads</a>
        <a href="../extracts.html">Extracts</a>
        <a href="../contact.html">Contact</a>
      </div>
      <button id="toggler-button">
	<svg id="sun" xmlns="http://www.w3.org/2000/svg" class="theme-toggler" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
        </svg>
	<svg id="moon" xmlns="http://www.w3.org/2000/svg" class="theme-toggler" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
        </svg>
      </button>
    </nav>
    </div>
      
<div>
  <h1>Go: Writing Our Very Own WaitGroup</h1>
<p><strong>September 29, 2022</strong></p>
<p>When we want to wait for the completion of multiple goroutines, we typically
use <code>WaitGroup</code>, provided by the <code>sync</code> standard library package. Here is a
quick sample that demonstrates how it is generally used:</p>
<pre><code class="language-go">package main

import (
        &quot;sync&quot;
)

type task struct{}

func worker(wg *sync.WaitGroup, t task) {
        defer wg.Done()
        // perform task
}

func main() {
        tasks := []task{{}, {}, {}}
        var wg sync.WaitGroup
        wg.Add(len(tasks)) // one goroutine for each task
        for _, task := range tasks {
                go worker(&amp;wg, task)
        }
        wg.Wait() // wait for all goroutines to finish execution

	// continue
}
</code></pre>
<p>Using <code>WaitGroup</code> is more convenient than using channels for this particular
use-case—were we to take the channel route, we would have had to create a
buffered channel and decrement a counter each time we received from it.</p>
<p>Let us build our own simplified <code>WaitGroup</code> that supports <code>Add()</code>, <code>Done()</code>,
and <code>Wait()</code>, as an exercise. We have our requirements already: the three
foregoing functions are what we want to support. An implicit requirement is
that our <code>waitGroup</code> must be thread-safe, for obvious reasons.</p>
<pre><code class="language-go">type waitGroup struct {
	counter int
	mu sync.Mutex
}
</code></pre>
<p><code>sync.Mutex</code> could have been an embedded struct, but that would mean that
<code>waitGroup</code> would expose <code>Lock()</code> and <code>Unlock()</code> to its users—we do not want
this. Since <code>mu</code> is unexported, users importing <code>waitGroup</code> will not have
access to the underlying mutex. <code>counter</code> is unexported for similar reasons.</p>
<p>Next, let us define <code>Add</code> and <code>Done</code> on a pointer receiver type. Were we to
define these methods on a non-pointer receiver, the methods would have no
effect—<code>Add</code> and <code>Done</code> would increment and decrement different counters
respectively!</p>
<pre><code class="language-go">func (wg *waitGroup) Add(n int) {
	wg.mu.Lock()
	wg.counter += n
	wg.mu.Unlock()
}

func (wg *waitGroup) Done() {
	wg.mu.Lock()
	wg.counter--
	wg.mu.Unlock()
}
</code></pre>
<p>Easy enough, wasn't it? Now let us define <code>Wait()</code>.</p>
<pre><code class="language-go">func (wg *waitGroup) Wait() {
	for {
		wg.mu.Lock()
		if wg.counter == 0 {
			wg.mu.Unlock()
			return
		}
		wg.mu.Unlock()
	}
}
</code></pre>
<p>Here, we are &quot;busy waiting&quot; for <code>counter</code> to become 0. Until it does, <code>Wait</code>
will not return.</p>
<p>And there we have it! Our very own custom <code>waitGroup</code>.</p>

</div>
    <script src="../index.js"></script>
  </body>
</html>